.fab, .far, .fas {
  color: var(--color-first);
}

.fab.-color, .fas.-color {
  color: var(--color-fourth);
}

.fab.-dark, .fas.-dark {
  color: var(--color-ninth);
}

.fab:hover, .fas:hover {
  color: var(--color-fourth);
}