.main-header .slide1 {
  background: url('../../assets/img/header/cama.jpg') no-repeat;
}

.main-header .slide2 {
  background: url('../../assets/img/header/cabide.jpeg') no-repeat;
}

.main-header .slide3 {
  background: url('../../assets/img/header/leticia.jpg') no-repeat;
}