.scroll-up {
    border: 2px solid var(--color-ninth);
    cursor: pointer;
    transition: all .5s linear;
}

.scroll-up:hover {
    background-color: var(--color-first);
    border: 2px solid var(--color-fourth);
}

.scroll-up:hover > .action .fas {
    color: var(--color-fourth);
}