.header-bar > .container {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 14px;
}

.header-bar > .container .image {
  width: 250px;
  height: 50px;
  display: inline-block;
}

.header-bar > .container .content {
  display: none;
  font-size: 18px;
}

.header-bar > .container,
.header-bar > .container .image,
.header-bar > .container .content,
.header-bar .menu .action {
  transition: all .5s linear;
}

.header-bar .celPhone .text:first-child {
  color: var(--color-seventh);
}

.header-bar .celPhone .text:last-child {
  color: var(--color-second);
}

.header-bar .content-phone .divisor {
  color: var(--color-second);
  border: 1px solid var(--color-second);
}

.header-bar .menu .action {
  font-size: 25px;
}

.header-bar-fixed {
  position: fixed;
  top: 0;
  transform: translateY(-60px);
  z-index: 100;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--color-first);
}

.header-bar-fixed.-active {
  transform: translateY(0);
}

.header-bar-fixed > .menu {
  display: flex;
  justify-content: space-around;
  align-self: center;
  width: 70%;
  margin: 0 auto;
}

@media (min-width: 580px) {
  .header-bar-fixed {
    display: none;
  }

  .header-bar {
    background-color: var(--color-first);
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
  }

  .header-bar > .container {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
  }

  .header-bar > .container .content {
    display: block;
  }

  .header-bar .content > .menu {
    display: flex;
    justify-content: space-around;
  }
  
  .header-bar.-fixed > .container {
    padding-top: 2px;
    padding-bottom: 0;
  }
  
    .header-bar.-fixed > .container .image {
    width: 150px;
    height: 30px;
  }

  .header-bar.-fixed > .container .content {
    font-size: 15px;
  }

  .header-bar.-fixed > .container .action {
    font-size: 20px;
  }

}

@media (min-width: 900px) {
  .header-bar > .container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .header-bar > .container .content,
  .header-bar .content > .content-phone {
    display: flex;
    align-items: center;
  }
  
  .header-bar .content-phone > .divisor {
    height: 44px;
    margin-left: 35px;
  }

  .header-bar.-fixed .content-phone > .divisor {
    height: 30px;
  }

  .header-bar .menu .action {
    margin-left: 30px;
  }
}