.last-projects {
  padding-top: 40px;
  width: 97vw;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50px 1fr 1fr;
  grid-template-areas: "title title"
                       "figure1 figure2"
                       "figure3 figure4";
  grid-gap: 10px;
}

.last-projects > .module-title {
  grid-area: title;
}

.last-projects > .figure1 {
  grid-area: figure1;
}

.last-projects > .figure2 {
  grid-area: figure2;
}

.last-projects > .figure3 {
  grid-area: figure3;
}

.last-projects > .figure4 {
  grid-area: figure4;
}

@media (min-width: 700px) {
  .last-projects {
    padding-top: 50px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 9.5vw);
    grid-template-areas: "figure1 title figure3 ."
                          "figure1 figure2 figure3 figure4"
                          "figure1 figure2 figure3 figure4"
                          ". figure2 . figure4";
  }

  .last-projects > .module-title {
    align-self: center;
  }
}

@media (min-width: 1200px) {
  .last-projects {
    grid-template-rows: repeat(4, 10vw);
  }
}