.main-about > .container {
  padding-top: 50px;
  height: 100%;
}

.main-about .module-title {
  margin-top: 40px;
}

.main-about > .container .content {
  margin-top: 30px;
  min-width: 320px;
  height: 600px;
  position: relative;
}

.main-about .content > .text-box {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  width: 90vw;
  min-height: 370px;
  padding: 0 10px;
}

.main-about .text-box > .title {
  margin-top: 14px;
}

.main-about .text-box > .text {
  margin-top: 21px;
}

@media (min-width: 500px) {
  .main-about .content > .text-box {
    width: 50vw;
    height: 450px;
    transform: none;
    bottom: 20px;
    left: 5px;
  }
}

@media (min-width: 700px) {
  .main-about .content > .text-box {
    width: 40vw;
    height: 400px;
  }
}

@media (min-width: 1000px) {
  .main-about > .container {
    width: 99vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
  }

  .main-about > .container .image {
    height: 90vh;
  }

  .main-about .content > .text-box {
    width: 700px;
    height: 250px;
    min-height: 100px;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 116px);
  }
}

@media (min-width: 1300px) {
  .main-about .content > .text-box {
    width: 1000px;
    transform: translate(-50%, 154px);
  }
}
