.main-footer {
    position: relative;
}

.main-footer > .content {
    background-color: var(--color-second);
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}

.main-footer .menu {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.main-footer .menu .action {
    font-size: 30px;
}

.main-footer .celPhone .text:hover {
    color: burlywood;
}

.main-footer > .content .local {
    text-align: center;
}

.main-footer .local .fas {
    font-size: 20px;
}

.main-footer > .scroll-up {
    font-size: 14px;
    padding: 5px 10px;
}

@media (min-width: 400px) {
    .main-footer .menu {
        width: 300px;
    }
}

.main-footer > .scroll-up {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

@media (min-width: 1000px) {
    .main-footer > .content {
        flex-flow: initial;
        height: 80px;
    }

    .main-footer .menu {
        width: 250px;
        order: 2;
    }

    .main-footer .content-phone {
        order: 1;
    }

    .main-footer .local {
        order: 3;
    }

}