.main-contact {
    padding-top: 50px;
    padding-bottom: 50px;
}

.main-contact > .container {
    width: 90%;
    margin: 0 auto;
}

.main-contact > .container .form {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 100%;
}

.main-contact .form > .label {
    margin-bottom: 5px;
    font-size: 18px;
}

.main-contact .form > .input {
    font-family: inherit;
    margin-bottom: 15px;
    padding: 0 15px;
    font-size: 14px;
    min-height: 34px;
    border: 1px solid var(--color-black);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
}

.main-contact .form > .inputMessage {
    padding: 15px;
}

.main-contact .form > .input::placeholder {
    color: #999;
    opacity: 1;
}

.main-contact .form .button {
    font-size: 14px;
    text-transform: uppercase;
    background-color: var(--color-black);
    border-radius: 4px;
    color: var(--color-white);
    padding: 8px 25px;
    cursor: pointer;
    border: 0;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
}

@media (min-width: 700px) {
    .main-contact > .container {
        width: 50%;
    }
}

@media (min-width: 1000px) {
    .main-contact {
        padding-top: 150px;
        padding-bottom: 150px;
    }
}

@media (min-width: 1400px) {
    .main-contact > .container {
        width: 700px;
    }
}
