.main-header > .swiper-container {
  position: relative;
  width: 100%;
  height: 92vh;
}

.main-header > .swiper-container .swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  /* Background */
  background-size: cover;
  background-position: center;
}

.main-header > .swiper-container .header-text {
  font-size: 20px;
  width: 90%;
  position: absolute;
  bottom: 20%;
  left: 10%;
  line-height: 1.2;
}

@media (min-width: 550px) {
  .main-header > .swiper-container .header-text {
    font-size: 25px;
  }
}

@media (min-width: 800px) {
  .main-header > .swiper-container .header-text {
    font-size: 35px;
  }
}

@media (min-width: 1200px) {
  .main-header > .swiper-container .header-text {
    font-size: 50px;
  }
}