.main-footer {
    position: relative;
    background-color: var(--color-primary);
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-footer > .text {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.main-footer > .content {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.main-footer .menu {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.main-footer .menu .action {
    font-size: 30px;
}

.main-footer .content-phone {
    margin-top: 25px;
}

.main-footer .celPhone .action {
    font-size: 20px;
}

.main-footer .celPhone .text:hover {
    color: var(--color-fourth);
}

.main-footer > .scroll-up {
    font-size: 9px;
    padding: 3px 5px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

@media (min-width: 1000px) {
    .main-footer {
        height: 200px;
    }

    .main-footer > .content {
        flex-flow: initial;
        height: 80px;
    }

    .main-footer .menu {
        width: 250px;
        order: 2;
    }

    .main-footer .content-phone {
        order: 1;
    }

    .main-footer > .scroll-up {
        font-size: 14px;
        padding: 5px 10px;
}