.main-footer {
    background-color: var(--color-second);
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-footer > .content {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.main-footer > .text {
    text-align: center;
    margin-top: 20px;
}

.main-footer .menu {
    display: flex;
    justify-content: space-between;
    width: 75%;
    order: 2;
    margin-top: 20px;
}

.main-footer .menu .action {
    font-size: 30px;
}

.main-footer .content-phone {
    margin-top: 25px;
    order: 2;
}

.main-footer .celPhone .action {
    font-size: 20px;
}

.main-footer .celPhone .text:hover {
    color: var(--color-fourth);
}

@media (min-width: 1000px) {
    .main-footer {
        height: 200px;
    }

    .main-footer > .content {
        flex-flow: initial;
        height: 80px;
    }

    .main-footer .menu {
        width: 250px;
        order: 3;
    }
   
    .main-footer .content-phone {
        order: 1;
    }
}