.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.-active {
  display: flex;
}

.modal > .content {
  width: 90%;
  background-color: var(--color-first);
  padding: 20px;
  text-align: center;
  position: relative;
}

.modal > .content .button-close {
  background-color: #353b48;
  color: var(--color-first);
  font-size: 28px;
  border: 1px solid #353b48;
  padding: 0 10px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.modal > .content .title {
  font-size: 16px;
  color: var(--color-ninth);
}

.modal > .content .image {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* modal small */
.modal-small {
  display: none;
  width: 150px;
  height: 150px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 90;
  cursor: pointer;
}

.modal-small.-active {
  display: block;
}

.modal-small > .image {
  align-self: start;
  object-fit: contain;
}

@media (min-width: 600px) {
  .modal > .content {
    width: 40%;
  }

  .modal-small {
    width: 300px;
    bottom: 10px;
  }
}
